@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

body, html {
  background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  font-family: 'Grandstander', cursive;
  text-align: center;
  line-height: 1.6;
}

.app {
  text-align: center;
  height: 100vh;
  font-size: 1.2em;
}

.yoda {
  width: 100px;
  margin: 10px 30px;
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header-title {
  font-size: 64px;
  color: #fee71e;
  font-family: 'Black Ops One', cursive;
}

.input-wrapper {
  padding: 0 50px 30px 50px;
}

#search-filter {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.page-link {
  color: #feda4a;
  background-color: transparent;
}

.page-item.active .page-link {
  color: #007bff;
  background-color: transparent;
  border-color: #dee2e6;
}

.spinner {
  width: 4rem;
  height: 4rem;
  margin: 30px 0;
}